@import url(fontiran.css); 
body {
  font-family: YekanBakh !important;
  direction: rtl;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  font-family: YekanBakh !important;
}

input,
textarea {
  font-family: YekanBakh !important;
}
